<h1>Listing articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Link</th>
      <th>Save</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.author %></td>
        <td><%= link_to 'Link', ("http://www.ncbi.nlm.nih.gov/pubmed/?term=" + "#{article.uid}") %></td>
        <td><%= button_to "Save", { :controller => "saved_articles", :action => "create", :article_id => article.id }, method: :post %><td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



