<section class="editing_primer_form">
	<h1>Editing primer</h1>
	<p>this will allow you to make changes to your primer - a new reverse complement will not be generated.</p>
	<%= render 'form' %>
</section>


