// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Cantata+One);

.container {
	font-family: 'Cantata One', serif;
}

.nav.nav-tabs {
	margin-top: 2.5%;
}

.center-block {
	float: none !important
}


span.pcr_detail {
	padding: 20%;
}
